@page "{id}"
@model WebHost.Pages.ArticleModel
@{
    ViewData["Title"] = "مقاله";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title"> @Model.Article.Title </h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="/Index">خانه</a>
                            </li>
                            <li class="active">@Model.Article.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <div class="col-lg-9 order-1 order-lg-1">
                                <!--=======  blog page content  =======-->
                                <div class="blog-page-content">
                                    <!--=======  blog post container  =======-->

                                    <div class="blog-single-post-container">

                                        <!--=======  post title  =======-->


                                        <h3 class="post-title">@Model.Article.Title</h3>

                                        <!--=======  End of post title  =======-->
                                        <!--=======  Post meta  =======-->
                                        @* <div class="post-meta">
                                        <p>
                                        <span><i class="fa fa-user-circle"></i> Posted By: </span> <a href="#">admin</a> <span class="separator">|</span> <span>
                                        <i class="fa fa-calendar"></i> Posted On: <a href="#">
                                        24
                                        August, 2019
                                        </a>
                                        </span>
                                        </p>
                                        </div>*@

                                        <!--=======  End of Post meta  =======-->
                                        <!--=======  Post media  =======-->

                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="~/ProductPictures/@Model.Article.Picture" class="img-fluid"
                                                     alt="@Model.Article.PictureAlt" title="@Model.Article.PictureTitle">
                                            </div>
                                        </div>

                                        <!--=======  End of Post media  =======-->
                                        <!--=======  Post content  =======-->

                                        <div class="post-content">
                                            @Html.Raw(Model.Article.Description)
                                        </div>

                                        <!--=======  End of Post content  =======-->
                                        <!--=======  Tags area  =======-->

                                        <div class="tag-area">
                                            <span>'تگ ها': </span>
                                            <ul>
                                                @foreach (var tag in Model.Article.KeywordList)
                                                {
                                                    <li>
                                                        <a href="#">
                                                            @tag
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                        <!--=======  End of Tags area  =======-->
                                        <!--=======  Share post area  =======-->

                                        <div class="social-share-buttons">
                                            <h3>share this post</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--=======  End of blog post container  =======-->
                                    <!--=============================================
                                    =            Comment section         =
                                    =============================================-->

                                    <div class="comment-section">
                                        <h3 class="comment-counter">نظرات (@Model.Article.Comments.Count) </h3>

                                        <!--=======  comment container  =======-->

                                        <div class="comment-container">
                                            <!--=======  single comment  =======-->
                                            @foreach (var comment in Model.Article.Comments)
                                            {
                                                <div class="single-comment" id="Comment-@comment.Id">
                                                    <span class="reply-btn">
                                                        <a href="#PostComment" onclick="$('#CommentparentId').val(@comment.Id)">پاسخ</a>
                                                    </span>

                                                    <div class="image">
                                                        <img src="/theme/assets/img/blog/comment-icon.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                       
                                                        <h3 class="user">
                                                            
                                                            @comment.Name<span class="comment-time">
                                                                @comment.CreationDate
                                                            </span>
                                                        </h3>
                                                        @if (comment.ParentId > 0)
                                                        {
                                                            <p>
                                                                <span>در پاسخ به :</span><a href="#Comment-@comment.ParentId">@comment.ParentName</a>
                                                            </p>
                                                        }
                                                        <p class="comment-text">
                                                            @comment.Massege
                                                        </p>
                                                    </div>

                                                </div>
                                            }




                                        </div>

                                        <!--=======  End of comment container  =======-->
                                        <!--=======  comment form container  =======-->

                                        <div class="comment-form-container">
                                            <h3 class="comment-form-title">نظر خود را بنویسید  </h3>
                                            <p>
                                                ایمیل وارد شده شما به دیگران نمایش داده نمیشود..
                                                *
                                            </p>

                                            <!--=======  comment form  =======-->

                                            <div class="comment-form" id="PostComment">
                                                <form method="post">
                                                    <div class="row">

                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>نام <span class="required">*</span></label>
                                                                <input type="text" name="name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>ایمیل <span class="required">*</span></label>
                                                                <input type="text" name="email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>وبسایت</label>
                                                                <input type="text" name="website">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label> متن نظر </label>
                                                                <textarea name="Massege"
                                                                          id="Massege"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <button type="submit" class="comment-btn"
                                                                    name="submit">
                                                                ارسال نظر
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="ownerRecordId" value="@Model.Article.Id" />
                                                    <input type="hidden" name="articleSlug" value="@Model.Article.Slug" />
                                                    <input type="hidden" name="ParentId" id="CommentparentId" value="" />
                                                </form>
                                            </div>

                                            <!--=======  End of comment form  =======-->
                                        </div>

                                        <!--=======  End of comment form container  =======-->

                                    </div>


                                    <!--=====  End of Comment section  ======-->
                                </div>
                                <!--=======  End of blog page content  =======-->
                            </div>
                            <div class="col-lg-3 order-2 order-lg-2">
                                <!--=======  page sidebar wrapper =======-->
                                <div class="page-sidebar-wrapper">
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">گروه مقالات</h4>
                                        <ul class="single-sidebar-widget__category-list">
                                            <li class="has-children">
                                                @foreach (var ArticleCategory in Model.ArticleCategories)
                                                {
                                                    <a href="/ArticleCategory/@ArticleCategory.Slug" class="active">
                                                        @ArticleCategory.Name <span class="counter">@ArticleCategory.ArticleCount</span>
                                                    </a>
                                                }

                                            </li>

                                        </ul>
                                    </div>

                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title"> آخرین مقالات</h4>
                                        <div class="block-container">
                                            @foreach (var latest in Model.LatestArticles)
                                            {
                                                <div class="single-block d-flex">
                                                    <div class="image">
                                                        <a href="/Article/@latest.Slug">
                                                            <img src="~/ProductPictures/@latest.Picture"
                                                                 class="img-fluid"
                                                                 alt="@latest.PictureAlt" title="@latest.PictureTitle">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p>
                                                            <a href="blog-post-image-format.html">
                                                                @latest.Title
                                                            </a> <span>@latest.PublishDate</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            }



                                        </div>

                                        <!--=======  End of block container  =======-->
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                    <!--=======  single sidebar widget  =======-->
                                    <!--=======  End of single sidebar widget  =======-->
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">
                                        <h4 class="single-sidebar-widget__title"> تگ های مقالات</h4>
                                        <ul class="single-sidebar-widget__tag-list">
                                            @foreach (var tag in Model.Article.KeywordList)
                                            {
                                                <li>
                                                    <a href="#">
                                                        @tag
                                                    </a>
                                                </li>
                                            }


                                        </ul>
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                </div>
                                <!--=======  End of page sidebar wrapper  =======-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--=======  End of page wrapper  =======-->
            </div>
        </div>
    </div>
</div>